@charset "utf-8";

/*Colors Collect*/

:root {

    --white: #ffffff;
    --black: #000000;

    --light-blue: #dbd7d0;
    --blue:#719b84;
    --dark-blue:#1a8486;
    --light-green:#a4cfa2;
    --green:#5e865c;
    --light-orange:#dc6f49;
    --orange:#d44d1d;
    --light-yellow:#ecb95f;
    --yellow: #e3a22e;
    --light-purple:#d58d79;
    --purple:#a45454;

}